.side-nav {
    width: 200px;
    height: 100vh;
    background-color: #F8F8F8;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
}

.side-nav ul {
    list-style: none;
    padding: 0;
}

.side-nav li {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.side-nav .icon {
    margin-right: 10px;
    color: #C0C0C0;
}

.side-nav .icon:hover {
    color: #A9A9A9;
}

.side-nav a {
    text-decoration: none;
    color: #C0C0C0;
    font-weight: bold;
}

.side-nav a:hover {
    color: #A9A9A9;
}
