.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #607d8b;
  color: #ffffff;
  z-index: 1000; /* Optional: Ensure it stays above other elements */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-title {
  font-size: 2.5rem;
}